<%= form_for @racket, method: :post do |f| %>
  <h1>ラケット 新規投稿</h1>
  <h2>ラケットの情報を入力してください</h2>
    <p>名前:<%= f.text_field :name %></p>
    <p>値段:<%= f.text_field :price %></p>
    <p>種類:<%= f.text_field :kind %></p>
  <input type="submit" value="送信">
<% end %>
